

h1{
	font-family: Kalam;
	font-weight: bold;
	font-size: 4em;
	color: #FFFEAA;
	text-align: center;
	margin-top: 280px;
}

body {
	background-image: url(background.jpg);
	background-size: cover;
	text-align: center;
}
.btn-primary{
	width: 225px;
	height: 50px;
	margin-top: 50px;
	font-family: Kalam;
	font-weight: bold;
	
}

.btn-primary:hover {
  transform: scale(1.4);
  background-color: black;
  transition: transform 3.5s;

}
.btn-primary {
	font-size: 1.8em;
	
}

.btn-primary:hover {
	background-color: darkblue;

}


	
